.sec-1{
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    height: 110vh;
    .separation-img{
        background-size: contain;
        img{
            width: 8.33%;
            height: 12px;
            display: block;
            float: left;
            background-color: black;
        }
    }
}