.sec-1{
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    height: 100rem;
    .separation-img{
        background-size: contain;
        img{
            width: 8.33%;
            height: 20px;
            display: block;
            float: left;
            background-color: #464647;
        }
    }
    .menu-G{
        .menu{
            .ourStory{
                .titreStory{
                    .storyCentre{
                        .titre-story{
                            font-family: "courgette";
                            .our{
                                color: #B32A3A;
                                font-size: 130%;
                            }
                        }
                    }
                }
            }
            .titreMenu-list{
                font-family: "courgette";
                .titre-story{
                    .our{
                        color: #B32A3A;
                        font-size: 130%;
                    }
                }
            }
            #menu{
                width: 100%;
                .col-3{
                    border-right: 3px solid $clair;
                    a{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 3px solid $clair;
                        
                        i{
                            font-size: 400%;
                            color: grey;
                        }
                        h3{
                            color: black;
                            font-family: "courgette";
                        
                        }
                    }
                    .nav-link:active{
                        background-color: #B32A3A;
                        color: #B32A3A;
                    }
                }
                .col-xl-6{
                    border-bottom: 3px solid $clair;
                    .menu-img1{
                        border: rgb(207, 205, 205) 5px solid;
                        border-radius: 50%;
                        width: 20%;
                    }
                    .monPrix{
                        color: #B32A3A;
                        background-color: $clair;
                        font-size: 120%;
                    } 
                }    
            }
        }
    }
}
.sec-2{
    background-image: url(../img/team_background.jpg);
    background-size: cover;
    .divChef{
        .divtitreChef{
            font-family: "courgette";
            .titreChef{
                .our{
                    color: #B32A3A;
                    font-size: 130%;
                }
            }
        }
        .divimgChef{
            .chef1{
                .imgChef{
                    border-bottom: grey 2px solid;
                }
            }
        }
    }
}
.sec-3{
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    height: 106rem;
    .Book{
        .divBook{
            .divbookHaut{
                .ourBook{
                    .titreBook{
                        .bookCentre{
                            .titre-book{
                                font-family: "courgette";
                                .our{
                                    color: #B32A3A;
                                    font-size: 130%;
                                }
                            }
                        }
                    }
                }
            }
            .formular{
                background-image: url(../img/book_table_bg.jpg);
                background-size: cover;
                height: 40rem;
                width: 60%;
                border: none;
                border-radius: 20px;
                .formularHaut{
                    font-size: 1.5rem;
                    p{
                        span{
                            font-size: 1.8
                            rem;
                        }
                    }
                }
                .divFormular{
                    .row{
                        .column{
                            .form-control{
                                width: 120%;
                                border: none;
                                border-radius: 15px;
                                height: 3rem;
                            }
                        }
                    }
                }
            }
            .divbookBas{
                button{
                    background-color: #B32A3A;
                    color: white;
                    border: none;
                    border-radius: 30px;
                    height: 3rem;
                    width: 150%;
                }
            }
            .titreBlog{
                .titre-blog{
                    font-family: "courgette";
                    .our{
                        color: #B32A3A;
                        font-size: 130%;
                    }
                }
            }
            .divcardsBlog{
                .divCards{
                    .cards{
                        .divimgBlog{
                            position: relative;
                            width: 100%;
                            height: 19rem;
                            .imgBlog{
                                border: rgb(224, 221, 221) 5px solid;
                                border-radius: 25px;
                            
                            }
                            .pBlog{
                                position: absolute;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                width: 75%;
                                height: 3rem;
                                bottom: 0;
                                background-color: #B32A3A;
                                font-size: 1.1rem;
                                border: none;
                                border-radius: 8px;
                                span{
                                    font-size: 1.4rem;
                                }
                            }
                        }
                        .pBlog{
                            position: absolute;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 25%;
                            height: 2.5rem;
                            background-color: #B32A3A;
                            font-size: 1.1rem;
                            span{
                                font-size: 1.4rem;
                            }
                        }
                        .petitTitre{
                            display: flex;
                            font-size: large;
                        }
                    }
                }
                .know{
                    background-color: #B32A3A;
                    color: white;
                    border: none;
                    border-radius: 30px;
                    height: 3rem;
                    width: 15%;

                }
            }
        }
    }    
}
.sec-4{
    background-image: url(../img/testimonials_background.jpg);
    background-size: cover;
    height: 25rem;
    .divClient{
        .divtitreClient{
            .titreClient{
                font-family: "courgette";
                .our{
                    color: #B32A3A;
                    font-size: 130%;
                }
            }
        }
        .basClient{
            .divbasClient{
                .imgClient{
                    height: 10rem;
                    border: rgb(224, 221, 221) 5px solid;
                    border-radius: 50%;
                }
                .textClient{
                    border: 1px rgb(179, 179, 179) solid;
                    border-radius: 15px;
                    .manager{
                        color: #B32A3A;
                    }
                }
            }
        }
    }
}